<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add Educator</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	
    <h1>EDUCATOR</h1>
	<div class="box">
		<form autocomplete="off">
			<h2>ENTER YOUR INFORMATION</h2>

			<div class="inputBox">
				<input type="text" required="required">
				<span>First Name</span>
				<i></i>
			</div>

            
			<div class="inputBox">
				<input type="text" required="required">
				<span>Last Name</span>
				<i></i>
			</div>

            
			<div class="inputBox">
				<input type="text" required="required">
				<span>ID Number</span>
				<i></i>
			</div>

            <div class="inputBox">
				<input type="text" required="required">
				<span>Mobile Number</span>
				<i></i>
			</div>


			<input type="submit" value="Add Educator">
        </form>
	</div>
</body>
</html>