<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Secretary</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>SECRETARY</h1>
    <div class="box">
      <form method="POST" autocomplete="off">
        <h2>ENTER YOUR INFORMATION</h2>

        {{ form.hidden_tag() }}
        <!-- This line ensures CSRF protection -->

        <div class="inputBox">
          {{ form.first_name(class="form-control", placeholder="First Name",
          required="required") }}
          <span>First Name</span>
          <i></i>
        </div>

        <div class="inputBox">
          {{ form.last_name(class="form-control", placeholder="Last Name",
          required="required") }}
          <span>Last Name</span>
          <i></i>
        </div>

        <div class="inputBox">
          {{ form.rsa_id_num(class="form-control", placeholder="ID Number",
          required="required") }}
          <span>ID Number</span>
          <i></i>
        </div>

        <div class="inputBox">
          {{ form.cell_number(class="form-control", placeholder="Mobile Number",
          required="required") }}
          <span>Mobile Number</span>
          <i></i>
        </div>

        <div class="inputBox">
          {{ form.email(class="form-control", placeholder="Email",
          required="required") }}
          <span>Email</span>
          <i></i>
        </div>

        <div class="inputBox">
          {{ form.submit(class="submit-button") }}
          <!-- This generates the submit button -->
        </div>
      </form>
    </div>
  </body>
</html>
