{% extends 'base.html' %} {% block title %}School Class Table{% endblock %} {%
block content %}
<h1>School Class Table</h1>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Class ID</th>
        <th>Grade</th>
        <th>Division</th>
        <th>Students</th>
        <th>Educator ID</th>
      </tr>
    </thead>
    <tbody>
      {% for schoolclass in classes %}
      <tr>
        <td>{{ schoolclass.class_id }}</td>
        <td>{{ schoolclass.grade }}</td>
        <td>{{ schoolclass.division }}</td>
        <td>{{ schoolclass.class_students | length }}</td>
        <td>{{ schoolclass.educator_id }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">No Class Data Available</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
