<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Missing Students Report</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <!-- You can include Bootstrap or other CSS frameworks if desired -->
  </head>
  <body>
    <div class="container">
      <h1>MISSING STUDENT REPORT</h1>
      <div class="list-container">
      {% if report %} {% for class_id, record in report.items() %}
      </h2>Class : {{ class_id }}</h2>
      {% for student in record %}
      <ul>
        <li> Student number :<a href="{{ url_for('display_student', student_num=student) }}"> {{ student }} </a></li>
      </ul>
      {% endfor %}
      <hr> 
      {% endfor %} 
      {% else %}
      <p>No missing students report available.</p>
      {% endif %}
    </div>
    </div>
  </body>
</html>
