{% extends 'base.html' %}

{% block title %}Parent Dashboard{% endblock %}

{% block content %}
<h1>PARENT DASHBOARD</h1>

<div class="box">
    <form style="text-align: center;">
        <h2>ADD ATTENDANCE EXEMPTION</h2>
            <div class="inputBox">
                <input type="button" value="Add Exemption" onclick="window.location.href='{{ url_for('add_absentee_notice') }}'">
            </div>
    </form>
    </div>
</div>
<input type="button"value="Manage Profile" onclick="window.location.href='{{ url_for('manage_profile') }}'">
{%endblock%}      

