<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Secretary Dashboard</title>
	<link rel="stylesheet" href="styles.css">

</head>
<body>
    
<h1>SECRETARY DASHBOARD</h1>
    <div class="box">
        <form>
            <h2>STUDENTS</h2>
            <div class="inputBox">
                <p>123456</p>
            </div>
            <h2>TEACHERS</h2>
            <div class="inputBox">
                <p>122238</p>
            </div>
            <h2>ADMIN</h2>
            <div class="inputBox">
                <p>123456</p>
            </div>
        </form>
    </div>

    <div class="buttons">
        <input type="button" value="Add Parent/Guardian">
        <input type="button" value="Add Student">
        <input type="button" value="Update Attendance">
        <input type="button" value="Add Attendance exemption">
        <input type="button" value="Manage Profile">
    </div>
</body>
</html>
