{% extends 'base.html' %}

{% block title %}Secretary Dashboard{% endblock %}

{% block content %}
<h1>SECRETARY DASHBOARD</h1>

<div class="box">
    <form method="POST" style="text-align: center;" >
        <h2>ADD/UPDATE</h2>
            <div class="inputBox">
                <div class="buttons">
                    <input type="button" value="Add Parent/Guardian" onclick="window.location.href='{{ url_for('add_parent') }}'">
                    <input type="button" value="Add Student" onclick="window.location.href='{{ url_for('add_student') }}'">
                    <input type="button" value="Add Classroom" onclick="window.location.href='{{ url_for('add_class') }}'">
                    <input type="button" value="Add Exemption" onclick="window.location.href='{{ url_for('add_absentee_notice') }}'">
                    <input type="button" value="Update Attendance" onclick="window.location.href='{{ url_for('update_attendance') }}'">
                </div>
            </div>    
    </form>
</div>
</div>
<input type="button" value="Manage Profile" onclick="window.location.href='{{ url_for('manage_profile') }}'">


{% endblock %}
