{% extends 'base.html' %} {% block title %}Secretary Table{% endblock %} {%
block content %}
<h1>SECRETARY TABLE</h1>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Cell Number</th>
        <th>RSA ID</th>
      </tr>
    </thead>
    <tbody>
      {% for secretary in secretaries %}
      <tr>
        <td>{{ secretary.secretary_id }}</td>
        <td>{{ secretary.username }}</td>
        <td>{{ secretary.first_name }}</td>
        <td>{{ secretary.last_name }}</td>
        <td>{{ secretary.email }}</td>
        <td>{{ secretary.cell_number }}</td>
        <td>{{ secretary.rsa_id_num }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="7">No Secretary Data Available</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
